<p>checkout works!</p>

<!-- <div *ngIf="flight.usersArray.length > 0">
    <form [formGroup]="flight.usersForm">
        <ng-container formArrayName="users">
            <ng-container *ngFor="let user of flight.usersArray.controls;let i = index">
                <ng-container [formGroupName]="i">
                    <input type="text" formControlName='firstName'>
                </ng-container>
            </ng-container>
        </ng-container>
    </form>
</div>

<ng-container *ngIf="flight.selectedFlight">
    <ng-container *ngIf="flight.selectedFlight.airItineraryDTO.passengerFareBreakDownDTOs">
        <ng-container *ngFor="let fare of flight.selectedFlight.airItineraryDTO.passengerFareBreakDownDTOs">
            ssssssssssssssssssssssssssssssssssssssssss
            <ng-container *ngIf="flight.fareBreackup">
                
              <ng-container [ngSwitch]="fare.passengerType">
                <div class="summary-prices row justify-content-around" *ngSwitchCase= "'ADT'">
        
                  <span class="fare-title col-6">Adults:</span>
                  <span class="fare-amount col-6">{{flight.fareBreackup.ADT.totalFare[1] 
                    }}{{flight.fareBreackup.ADT.totalFare[0]  }}</span>
                  <sub>{{flight.fareBreackup.ADT.ScFare[2]}}
                    X
                    {{flight.fareBreackup.ADT.ScFare[1] |exchange:'code'}}
                    {{flight.fareBreackup.ADT.ScFare[0] |exchange:'value'}}
                  </sub>
        
                </div>
                <div class="summary-prices row justify-content-around" *ngSwitchCase="'CNN'">
        
                  <span class="fare-title col-6">Childs:
                  </span>
                  <span class="fare-amount col-6">{{flight.fareBreackup.CNN.totalFare[1] 
                    }}{{flight.fareBreackup.CNN.totalFare[0]  }}</span>
                  <sub>{{flight.fareBreackup.CNN.ScFare[2]}}
                    X
                    {{flight.fareBreackup.CNN.ScFare[1] |exchange:'code'}}
                    {{flight.fareBreackup.CNN.ScFare[0] |exchange:'value'}}
                  </sub>
        
                </div>
                <div class="summary-prices row justify-content-around" *ngSwitchCase="'INF'">
                  <span class="fare-title col-6 mb-1">Infants:</span>
                  <span class="fare-amount col-6">{{flight.fareBreackup.INF.totalFare[1] 
                    }}{{flight.fareBreackup.INF.totalFare[0]  }}</span>
                  <sub>{{flight.fareBreackup.INF.ScFare[2]}}
                    X
                    {{flight.fareBreackup.INF.ScFare[1] |exchange:'code'}}
                    {{flight.fareBreackup.INF.ScFare[0] |exchange:'value'}}
                  </sub>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
    </ng-container>
</ng-container> -->

<!-- <button (click)="flight.saveBooking('KWD')">Save Booking</button> -->
<!-- <button (click)="changeCurrency()">Change Currency</button> -->
<ng-container *ngIf="this.HotelCheckout.HotelResult[0]">
      <p>{{this.HotelCheckout.HotelResult[0].RoomType}}</p>
      <p>{{this.HotelCheckout.HotelResult[0].Adult}}</p>
      <form [formGroup]="this.HotelCheckout.HotelForm">
        <ng-container formArrayName="Travellers">
            <ng-container *ngFor="let guest of this.HotelCheckout.Travellers.controls ;let i = index;">
                <ng-container [formGroupName]="i">
                  <input type="text" formControlName="salutation">
                  <input type="text" formControlName="firstName">
                  <input type="text" formControlName="lastName">
                  <input type="text" formControlName="phonenum">
                  
                  <button class="btn" (click)="onSubmit()">OnSubmit</button>
  
                </ng-container>
            </ng-container>
        </ng-container>
      </form>
    </ng-container>
    <input type="text" >
   
